.user{
  background-color:darkcyan;
  color:white;
  height: 40vh;
}
.inputBox {
  padding: 7px;
  display: block;
  border: 1px solid skyblue;
  width: 300px;
  margin: 20px;
}
.abc{
  background-color: wheat;
  height:125vh;
  margin-top:-180px;
  padding:30px;

}
.appButton {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: solid 1px;
  cursor: pointer;
}
.bbc{
  background-color: black;
  height: 30vh;
  color: white;
}
.image{
  border-radius: 165px;
}
@media screen and (max-width:450px){
  .bbc{
    visibility: hidden;
  }
  .abc{
    height:150vh;
  }
  .cbox{
    visibility: hidden;
  }
}